@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;
@{
    var Accounts = Model.Accounts;
    var Categories = Model.Categories;
}


    <article id="transaction-filter" class="shadow-sm border w-15 p-4 m-4 d-none d-lg-block d-flex flex-column justify-content-between">
        <header>
            <h5 class="mb-2">Filter Transactions</h5>
        </header>

        <!-- SEARCH BAR  -->
        <section>
            <input id="searchBar" class="form-control mt-2 mb-2 " type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search..." />
        </section>


        <!-- DATE FILTER  -->
        <section id="filter-date" class="my-3">
            <h6 class="mt-2 mb-2">Date Range</h6>
            <div class="d-flex flex-row">
                <input class="form-control" type="date" id="dateFrom" name="DateFrom" value=@Convert.ToDateTime(ViewData["DateFrom"]).ToString("yyyy-MM-dd") />
                <input class="form-control" type="date" id="dateTo" name="DateTo" value=@Convert.ToDateTime(ViewData["DateTo"]).ToString("yyyy-MM-dd") />
            </div>
        </section>


        <!-- ACCOUNT FILTER  -->
        <section id="filter-account" class="accordion my-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-account">
                    <button class="accordion-button shadow-none text-dark p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-account" aria-expanded="true" aria-controls="collapse-account">
                        <h6>By Account</h6>
                    </button>
                </h2>
                <div id="collapse-account" class="accordion-collapse collapse show" aria-labelledby="heading-account">
                    <div class="accordion-body p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked id="chk-all-account">
                            <label class="form-check-label" for="chk-all-account">
                                All Account
                            </label>
                        </div>
                        @foreach (var account in Accounts)
                        {
                            <div class="form-check">
                                <input id="acc-@account.AccountID" class="form-check-input chk-account" type="checkbox" value="" data-id="@account.AccountID">
                                <label class="form-check-label" for="acc-@account.AccountID">
                                    @account.Name
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>


        <!-- CATEGORY FILTER  -->
        <section id="filter-category" class="accordion my-3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-category">
                    <button class="accordion-button shadow-none text-dark p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-category" aria-expanded="true" aria-controls="collapse-category">
                        <h6>By Category</h6>
                    </button>
                </h2>
                <div id="collapse-category" class="accordion-collapse collapse show" aria-labelledby="heading-category">
                    <div class="accordion-body p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked id="chk-all-category">
                            <label class="form-check-label" for="chk-all-category">
                                All Category
                            </label>
                        </div>
                        @foreach (var category in Categories)
                        {
                            <div class="form-check">
                                <input id="cat-@category.CategoryID" class="form-check-input chk-category" type="checkbox" value="" data-id="@category.CategoryID">
                                <label class="form-check-label" for="cat-@category.CategoryID">
                                    @category.Name
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>


        <!-- SUBMIT -->
        <section class="d-flex flex-row-reverse">
            <button id="filter-transaction" value="Filter" class="btn btn-dark">Filter</button>
        </section>

    </article>





@*</form>*@


