@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;
@{
    var Accounts = Model.Accounts;
    var Categories = Model.Categories;
}

<div class="container p-4">
    @*<form asp-action="Index" method="get">*@
        <div class="d-flex flex-column">
            @* HEADER *@
            <h5 class="">Filters</h5>

            @* SEARCH BAR *@
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search..." />


            @* DATE FILTER *@
            <h6 class="mb-3">Date Filter</h6>
            <input type="date" name="DateTo" value=@Convert.ToDateTime(ViewData["DateTo"]).ToString("yyyy-MM-dd") />
            <input type="date" name="DateFrom" value=@Convert.ToDateTime(ViewData["DateFrom"]).ToString("yyyy-MM-dd") />

            @* ACCOUNT FILTER *@
            <table>
                <tr>
                    <td class="col-1"><input type="checkbox" checked id="chk-all-accounts" /> </td>
                    <td class="col">All Accounts</td>
                </tr>
                <tbody>
                    @foreach (var account in Accounts)
                    {
                        <tr class="">

                            <td class="col-1 checkbox">
                                <input type="checkbox" checked value="" class="chk-accounts" data-id="@account.AccountID" />
                            </td>
                            <td class="col ">@account.Name</td>
                        </tr>
                    }
                </tbody>
            </table>


            @* CATEGORY FILTER *@
            <div class="row mb-4 mt-4">
                <table>
                    <tr class="border-bottom">
                        <td class="col-1"><input type="checkbox" checked id="chk-all-categories" /> </td>
                        <td class="col">All Categories</td>
                    </tr>
                    <tbody>
                        @foreach (var category in Categories)
                        {
                            <tr class="">
                                @*<td class="col-1"><input asp-for="@category.Selected" type="checkbox" /></td>
                                    <td class="col "><label asp-for="@category.Selected">@category.Name</label></td>

                                    @Html.HiddenFor(x => category.CategoryID)
                                    @Html.HiddenFor(y => category.Name)*@
                                <td class="col-1"><input type="checkbox" checked value="" class="chk-categories" id="@category.CategoryID" /> </td>
                                <td class="col ">@category.Name</td>
                            </tr>


                        }
                    </tbody>
                </table>
            </div>


            @* SUBMIT *@
            <div class="col"><button id ="filter-transaction" value="Filter" class="btn btn-dark fa-solid fa-chart-pie">Filter</button></div>

        </div>


    @*</form>*@
</div>

<script>
    $(document).ready(function () {
        $("#filter-transaction").click(function () {
            var accountList = new Array();
            $('.chk-accounts').each(function () {
                if ($(this).is(":checked")) {
                    accountList.push($(this).attr('data-id'));
                }
            });

            jQuery.ajaxSettings.traditional = true


            $.get("/Transactions/Index",
                {
                    selectedAccounts: accountList
                }, function (data) {
                    $('#transaction-page').html(data);
                });
        });
    });
    $(document).ready(function () {
        $("#chk-all-categories").click(function () {
            var url = "/Transactions/Create"; // the url to the controller
            $.get(url, function (data) {
                $('#create-transaction-container').html(data);
                $('#create-transaction').modal('show');
            });
        });
    });

    $(document).ready(function () {
        $("#chk-all-accounts").click(function () {
            //$('.chk-accounts').not(this).prop('checked', this.checked);
            $('.chk-accounts').prop('checked', this.checked);
        });
    });
    $(".chk-accounts").change(function () {
        if ($('.chk-accounts:checked').length == $('.chk-accounts').length) {
            $('#chk-all-accounts').prop('checked', this.checked);
        }
        else {
            $('#chk-all-accounts').prop('checked', false);
        }
    });

    $(document).ready(function () {
        $("#chk-all-categories").click(function () {
            $('.chk-categories').prop('checked', this.checked);
        });
    });
    $(".chk-categories").change(function () {
        if ($('.chk-categories:checked').length == $('.chk-categories').length) {
            $('#chk-all-categories').prop('checked', this.checked);
        }
        else {
            $('#chk-all-categories').prop('checked', false);
        }
    });
</script>