@model Expense_Tracker_aspnetcore.Models.TransactionViewModel;
@{
    var Transactions = Model.Transactions;
}
<div class="row ">
    @* CREATE TRANSACTION *@
    <div class="col d-flex m--0 flex-row-reverse">
        <button class="btn btn-dark btn-sm create-transaction" data-toggle="modal" data-target="#createModal" asp-action="Create">+</button>
        <button class="btn btn-dark btn-sm fa-solid fa-filter d-lg-none" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" />
    </div>
</div>
<div class="row">
    <table class="table table-borderless transactions-table">
        <thead class="bg-dark text-white">
            <tr>
                <th class="p-1 align-middle text-center">
                    <input type="checkbox" id="select-all-transactions" value="" />
                </th>
                <th colspan="3">
                    <button class="delete-selected-transactions btn button btn-danger p-1"> Delete </button>
                    
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                DateTime date = DateTime.Today.Date;

                int ctr = 0;
                foreach (var item in Transactions)
                {
                    ctr++;
                    if (ctr == 1)
                        date = Transactions.FirstOrDefault().PostDate.Date;

                    if (date != item.PostDate.Date || ctr == 1)
                    {
                        <tr class="table-header">
                            <td colspan="3">
                                <b>@item.PostDate.ToString("MMMM d, yyyy")</b>
                            </td>
                        </tr>
                        date = item.PostDate.Date;
                    }

                    <tr data-id="@item.TransactionID" class="transaction edit-transaction" data-toggle="modal" data-target="#submitModal" asp-action="Edit">
                        <td class="align-middle p-0 m-0 text-center">
                            <input class="select-transactions" type="checkbox" name="name" value="" />
                        </td>

                        <td class="pt-2 pb-2">
                            <h6 class="align-middle p-0 m-0">@Html.DisplayFor(modelItem => item.Name)</h6>
                            <p class="align-middle p-0 m-0">@Html.DisplayFor(modelItem => item.Category.Name)</p>
                        </td>
                        <td class="pt-2 pb-2 text-right">
                            <h6 class="p-0 m-0">@Html.DisplayFor(modelItem => item.Amount)</h6>
                            <p class="p-0 m-0">@Html.DisplayFor(modelItem => item.Account.Name)</p>
                        </td>
                        <td class="transaction-menu text-right">
                            <div class="btn-group">
                                <button type="button" class="btn p-0 m-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical p-1"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Edit <i class="fa fa-trash"></i></a>
                                    <a class="dropdown-item delete-transaction">Delete <i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Transactions.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Transactions.HasNextPage ? "disabled" : "";
    }
    <div class="row">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Transactions.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Transactions.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        $(".select-transactions").change(function () {
            if ($('.select-transactions:checked').length > 0) {
                $('.delete-selected-transactions').show();
            }
            else {
                $('.delete-selected-transactions').hide();
            }
        });

        /* Edit ------------------------*/
        $('.edit-transaction').click(function () {
            if (e.isDropDownToggleEvent != null && e.isDropDownToggleEvent)
                return false;

            var url = "/Transactions/Edit"; // the url to the controller
            var id = $(this).attr('data-id'); // the id that's given to each button in the list
            $.get(url + '/' + id, function (data) {
                $('#edit-transaction-container').html(data);
                $('#edit-transaction').modal('show');
            });

        });

        /* Delete ------------------------*/
        $(".delete-selected-transactions").click(function () {
            $('#delete-transaction').modal('show');
        });

    });

</script>