@model IEnumerable<Expense_Tracker_aspnetcore.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="col d-flex m--0 flex-row-reverse">
    <button id="create-account-btn" class="btn btn-dark btn-sm" data-toggle="modal" asp-action="Create">+</button>
    <button class="btn btn-dark btn-sm fa-solid fa-filter d-lg-none" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" />
</div>
<table class="table table-borderless transactions-table">
    <thead class="bg-dark text-white">
        <tr>
            <th class="p-2 align-middle text-center">
                <input type="checkbox" id="select-all-accounts" value="" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.AccountID">
                <td class="align-middle p-0 m-0 text-center">
                    <input class="select-accounts" type="checkbox" name="name" value="" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AccountID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AccountID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AccountID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="create-account-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="create-account-container"></div>
        </div>
    </div>
</div>
<script>
    /* Create ------------------------*/
    $(document).ready(function () {
        $('#create-account-btn').click(function () {
            var url = "/Accounts/Create"; // the url to the controller
            $.get(url, function (data) {
                $('#create-account-container').html(data);
                $('#create-account-modal').modal('show');
            });
        });
    });
    $(".select-accounts").click(function (e) {
        e.stopPropagation();
    });
</script>