@model IEnumerable<Expense_Tracker_aspnetcore.Models.Account>

@{
    ViewData["Title"] = "Accounts";
}

<div class="container ">
    <h3>Accounts</h3>
    <div class="d-flex flex-column">
        <div>
            <div class="d-flex justify-content-between">
                <div id="header-buttons">
                    <button class="delete-selected-accounts btn button btn-danger p-0 pl-1 pr-1" hidden><i class="fa fa-trash"></i> Delete </button>
                    <button class="cancel-select btn button btn-dark p-0 pl-1 pr-1" hidden> Unselect All</button>
                </div>
                <button class="btn btn-primary btn-sm create-account" data-toggle="modal" asp-action="Create">+</button>
            </div>

            <table class="table table-borderless border bg-white" id="accounts-table">
                <thead class="bg-primary text-white">
                    <tr>
                        <th class="p-2 align-middle text-center">
                            <input type="checkbox" class="select-all-accounts" value="" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Balance)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.AccountID" class="edit-accounts">
                            <td class="align-middle p-0 m-0 text-center">
                                <input class="select-accounts" type="checkbox" name="name" value="" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>